.footer__section {
    background-color: #08AEEA ;
    background-image: linear-gradient(0deg, #2AF598 0%, #08AEEA 100%);
    display: flex;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.footer__sectionOptionOne {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 800;
    color: white;
    align-items: center;
    margin-left: 25px;
}

.footer__sectionOptionTwo {
    display: flex;
    flex-direction: column;
    font-size:16px;
    font-weight: 600;
    color: white;
    align-items: center;
}